[submodule "lib/tinyUSBpp"]
        path = lib/tinyUSB++
        url = https://github.com/Terstegge/tinyUSBpp.git
[submodule "lib/openDAPpp"]
        path = lib/openDAP++
        url = https://github.com/Terstegge/openDAPpp.git


